::ng-deep .date {
    background: #369500 !important;
}

::ng-deep .timeline-img {
    background: #369500 !important;
}

::ng-deep .timeline::before {
    background: #36950075 !important;
}

::ng-deep .inner-content {
    width: auto !important;
}