<div *ngIf="type === 'line-chart'">
  <ngx-charts-line-chart
    [view]="view"
    class="chart-container"
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [results]="dateData"
    [animations]="animations"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    (legendLabelClick)="onLegendLabelClick($event)"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [xScaleMin]="xScaleMin"
    [xScaleMax]="xScaleMax"
    [yScaleMin]="yScaleMin"
    [yScaleMax]="yScaleMax"
    [timeline]="timeline"
    [showGridLines]="showGridLines"
    [curve]="curve"
    [rangeFillOpacity]="rangeFillOpacity"
    [roundDomains]="roundDomains"
    [tooltipDisabled]="tooltipDisabled"
    (select)="select($event)">
  </ngx-charts-line-chart>
</div>

<div *ngIf="chartType === 'polar-chart'">
  <ngx-charts-polar-chart
  [view]="view"
  class="chart-container"
  [scheme]="colorScheme"
  [schemeType]="schemeType"
  [results]="multi"
  [animations]="animations"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  [legendPosition]="legendPosition"
  (legendLabelClick)="onLegendLabelClick($event)"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [autoScale]="autoScale"
  [showGridLines]="showGridLines"
  [rangeFillOpacity]="rangeFillOpacity"
  [roundDomains]="roundDomains"
  [tooltipDisabled]="tooltipDisabled"
  [showSeriesOnHover]="showSeriesOnHover"
  [curve]="closedCurve"
  (select)="select($event)">
  </ngx-charts-polar-chart>
</div>

<div *ngIf="type === bubble-chart">
  <ngx-charts-bubble-chart
    [view]="view"
    class="chart-container"
    [results]="bubble"
    [animations]="animations"
    [showGridLines]="showGridLines"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [xScaleMin]="xScaleMin"
    [xScaleMax]="xScaleMax"
    [yScaleMin]="yScaleMin"
    [yScaleMax]="yScaleMax"
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [roundDomains]="roundDomains"
    [tooltipDisabled]="tooltipDisabled"
    [minRadius]="minRadius"
    [maxRadius]="maxRadius">
  </ngx-charts-bubble-chart>
</div>

<div *ngIf="type === 'force-directed-graph'">
  <ngx-charts-force-directed-graph
  class="chart-container"
  [legend]="showLegend"
  [legendTitle]="legendTitle"
  [legendPosition]="legendPosition"
  [links]="graph.links"
  [animations]="animations"
  (legendLabelClick)="onLegendLabelClick($event)"
  [nodes]="graph.nodes"
  [scheme]="colorScheme"
  [view]="view"
  [tooltipDisabled]="tooltipDisabled"
  (select)="select($event)">
  </ngx-charts-force-directed-graph>
</div>

<div *ngIf="type === 'area-chart'">
  <ngx-charts-area-chart
    class="chart-container"
    [view]="view"
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [results]="dateData"
    [animations]="animations"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    (legendLabelClick)="onLegendLabelClick($event)"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [xScaleMin]="xScaleMin"
    [xScaleMax]="xScaleMax"
    [yScaleMin]="yScaleMin"
    [yScaleMax]="yScaleMax"
    [timeline]="timeline"
    [showGridLines]="showGridLines"
    [roundDomains]="roundDomains"
    [curve]="curve"
    [tooltipDisabled]="tooltipDisabled"
    (select)="select($event)">
  </ngx-charts-area-chart>  
</div>

<div *ngIf="type === 'stacked-area-chart'">
  <ngx-charts-area-chart-stacked
    class="chart-container"
    [view]="view"
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [results]="dateData"
    [animations]="animations"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    (legendLabelClick)="onLegendLabelClick($event)"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [xScaleMin]="xScaleMin"
    [xScaleMax]="xScaleMax"
    [yScaleMin]="yScaleMin"
    [yScaleMax]="yScaleMax"
    [showGridLines]="showGridLines"
    [roundDomains]="roundDomains"
    [tooltipDisabled]="tooltipDisabled"
    [curve]="curve"
    (select)="select($event)">
  </ngx-charts-area-chart-stacked>
</div>

<div  *ngIf="type === 'normalized-area-chart'">
  <ngx-charts-area-chart-normalized
    [view]="view"
    [scheme]="colorScheme"
    [schemeType]="schemeType"
    [results]="dateData"
    [animations]="animations"
    [legend]="showLegend"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    (legendLabelClick)="onLegendLabelClick($event)"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [showGridLines]="showGridLines"
    [roundDomains]="roundDomains"
    [tooltipDisabled]="tooltipDisabled"
    [curve]="curve"
    (select)="select($event)">
  </ngx-charts-area-chart-normalized>
</div>