
<ngx-charts-line-chart
*ngIf="type === 'line-chart'"
[view]="view"
class="chart-container"
[scheme]="colorScheme"
[schemeType]="schemeType"
[results]="data"
[animations]="animations"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
(legendLabelClick)="onLegendLabelClick($event)"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[autoScale]="autoScale"
[xScaleMin]="xScaleMin"
[xScaleMax]="xScaleMax"
[yScaleMin]="yScaleMin"
[yScaleMax]="yScaleMax"
[timeline]="timeline"
[showGridLines]="showGridLines"
[curve]="curve"
[rangeFillOpacity]="rangeFillOpacity"
[roundDomains]="roundDomains"
[tooltipDisabled]="tooltipDisabled"
(select)="onSelect($event)">
</ngx-charts-line-chart>
<ngx-charts-polar-chart
*ngIf="type === 'polar-chart'"
[view]="view"
class="chart-container"
[scheme]="colorScheme"
[schemeType]="schemeType"
[results]="data"
[animations]="animations"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
(legendLabelClick)="onLegendLabelClick($event)"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[autoScale]="autoScale"
[showGridLines]="showGridLines"
[rangeFillOpacity]="rangeFillOpacity"
[roundDomains]="roundDomains"
[tooltipDisabled]="tooltipDisabled"
[showSeriesOnHover]="showSeriesOnHover"
[curve]="closedCurve"
(select)="onSelect($event)">
</ngx-charts-polar-chart>
<ngx-charts-bubble-chart
*ngIf="type === 'bubble-chart'"
[view]="view"
class="chart-container"
[results]="data"
[animations]="animations"
[showGridLines]="showGridLines"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[autoScale]="autoScale"
[xScaleMin]="xScaleMin"
[xScaleMax]="xScaleMax"
[yScaleMin]="yScaleMin"
[yScaleMax]="yScaleMax"
[scheme]="colorScheme"
[schemeType]="schemeType"
[roundDomains]="roundDomains"
[tooltipDisabled]="tooltipDisabled"
[minRadius]="minRadius"
[maxRadius]="maxRadius">
</ngx-charts-bubble-chart>
<ngx-charts-force-directed-graph
*ngIf="type === 'force-directed-graph'"
class="chart-container"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
[links]="graph.links"
[animations]="animations"
(legendLabelClick)="onLegendLabelClick($event)"
[nodes]="graph.nodes"
[scheme]="colorScheme"
[view]="view"
[tooltipDisabled]="tooltipDisabled"
(select)="onSelect($event)">
</ngx-charts-force-directed-graph>
<ngx-charts-area-chart
*ngIf="type === 'area-chart'"
class="chart-container"
[view]="view"
[scheme]="colorScheme"
[schemeType]="schemeType"
[results]="data"
[animations]="animations"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
(legendLabelClick)="onLegendLabelClick($event)"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[autoScale]="autoScale"
[xScaleMin]="xScaleMin"
[xScaleMax]="xScaleMax"
[yScaleMin]="yScaleMin"
[yScaleMax]="yScaleMax"
[timeline]="timeline"
[showGridLines]="showGridLines"
[roundDomains]="roundDomains"
[curve]="curve"
[tooltipDisabled]="tooltipDisabled"
(select)="onSelect($event)">
</ngx-charts-area-chart>
<ngx-charts-area-chart-stacked
*ngIf="type === 'area-chart-stacked'"
class="chart-container"
[view]="view"
[scheme]="colorScheme"
[schemeType]="schemeType"
[results]="data"
[animations]="animations"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
(legendLabelClick)="onLegendLabelClick($event)"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[timeline]="timeline"
[xScaleMin]="xScaleMin"
[xScaleMax]="xScaleMax"
[yScaleMin]="yScaleMin"
[yScaleMax]="yScaleMax"
[showGridLines]="showGridLines"
[roundDomains]="roundDomains"
[tooltipDisabled]="tooltipDisabled"
[curve]="curve"
(select)="onSelect($event)">
</ngx-charts-area-chart-stacked>
<ngx-charts-area-chart-normalized
*ngIf="type === 'area-chart-normalized'"
class="chart-container"
[view]="view"
[scheme]="colorScheme"
[schemeType]="schemeType"
[results]="data"
[animations]="animations"
[legend]="showLegend"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
[gradient]="gradient"
[xAxis]="showXAxis"
(legendLabelClick)="onLegendLabelClick($event)"
[yAxis]="showYAxis"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[timeline]="timeline"
[showGridLines]="showGridLines"
[roundDomains]="roundDomains"
[tooltipDisabled]="tooltipDisabled"
[curve]="curve"
(select)="onSelect($event)">
</ngx-charts-area-chart-normalized>