<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> Welcome! I am your {{ title }}!</h1>
  <img width="300" alt="Assistant Logo" src="assets/oil.gif">
</div>


<div class="inline">

  <div class="vis">
    <bar-chart type="vertical"></bar-chart>
  </div>
  <div class="vis">
    <bar-chart type="horizontal"></bar-chart>
  </div>
  <div class="vis">
    <bar-chart type="vertical-stacked"></bar-chart>
  </div>
  <div class="vis">
      <bar-chart type="horizontal-stacked"></bar-chart>
  </div>


  <div class="vis">
      <pie-chart type="advanced-pie-chart"></pie-chart>
  </div>
  <div class="vis">
      <pie-chart type="pie-chart"></pie-chart>
  </div>
  <div class="vis">
      <pie-chart type="pie-grid"></pie-chart>
  </div>

  <div class="vis">
      <time-chart type="line-chart"></time-chart>
  </div>
  <div class="vis">
      <time-chart type="area-chart"></time-chart>
  </div>
  <div class="vis">
      <time-chart type="stacked-area-chart"></time-chart>
  </div>
  <div class="vis">
      <time-chart type="normalized-area-chart"></time-chart>
  </div>


</div>





