@import "~@angular/material/prebuilt-themes/purple-green.css";

body  {
   background-color: #190c40; 
}

h1, h2, h3 {
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
