@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-vertical-timeline/dist/vertical-timeline.css";

$core-screen-sm: 600px;
$core-screen-md: 900px;
$core-screen-lg: 1200px;

$core-margin: 10px;
$vis_margin-bottom: ($core-margin * 4);

  body {
    font-family: Lato;
    color: #212121;
  }
  
  .inline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .vis {
    display: flex;
    justify-content: center;
    margin-bottom: $vis_margin-bottom;
  }


  